<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div id="form-signup" class="hidden">
    <form action="/auth/signup" method="post">
        <label>
            <span th:text="#{username}"/>: <input type="text" name="username">
        </label>
        <br>
        <br>
        <label>
            <span th:text="#{email}"/> : <input type="text" name="email">
        </label>
        <br>
        <br>
        <label>
            <span th:text="#{password}"/>: <input type="password" name="password">
        </label>
        <br>
        <br>
        <label for="gender" th:text="#{gender}"></label>
        <select name="gender" id="gender">
            <option value="male" th:text="#{gender.male}">Male</option>
            <option value="female" th:text="#{gender.female}">Female</option>
        </select>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <br>
    <p>
        <span onclick="displayLogin()"><a href="#" aria-disabled="true">Login</a></span>
    </p>
</div>
<div id="form-login">
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
    <form action="/auth/login" method="post">
        <label>
            <span th:text="#{email}"/>: <input type="text" name="email">
        </label>
        <br>
        <br>
        <label>
            <span th:text="#{password}"/>: <input type="password" name="password">
        </label>
        <br>
        <br>
        <button type="submit">Login</button>
    </form>
    <br>
    <br>
    <p>
        <span onclick="displaySignUp()"><a href="#" aria-disabled="true">SignUp</a></span>
    </p>
</div>
<script>
    const formSingUp = document.getElementById('form-signup');
    const formLogin = document.getElementById('form-login');

    function displayLogin() {
        formSingUp.classList.add('hidden');
        formLogin.classList.remove('hidden');
    }

    function displaySignUp() {
        formLogin.classList.add('hidden');
        formSingUp.classList.remove('hidden');
    }
</script>
</body>
</html>